@{
    ViewData["Title"] = "Editar Cliente";
}

@using Buffet.Models.Buffet.Tipos
@model Buffet.ViewModels.Cliente.EditarClienteViewModel

<div class="cadastro-evento">
    <div class="container py-5"> 
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card rounded-0">
                        <div class="card-header">
                            
                            <h3 class="mb-0">Cadastro Cliente</h3>
                        </div>
                        
                          @if (Model.mensagem_erro != null)
                          {
                              <ul>
                                  @foreach (var erro in Model.mensagem_erro)
                                  {
                                      <li> @erro</li>
                                  }
                                                    			    
                                                    			    
                                  </ul>
                          }
                        
                        @if (Model.mensagem_sucesso != null)
                         {
                             <p> @Model.mensagem_sucesso</p>
                         }
                         
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off" id="form" novalidate="" action="/Interno/EditarCliente/@Model.Id" method="POST">
                               
                                <div class="form-group">
                                    
                                    <label for="nomeCliente" class="form-label">Nome do Cliente: </label>
                                    <input type="text" class="form-control form-control-lg rounded-0" id="nome" name="Nome" required="" value="@Model.Nome">
                                    
                                </div>
                                
                                <div class="form-group">
                                    <label for="tipoCliente" class="form-label">Tipo do Cliente: </label>
                                    <select name="Tipo" class="form-control form-control-lg rounded-0">  
                                        <option value= "" >Tipo...</option>
                                        
                                        @foreach (TipoClienteEntity tipo in @Model.Tipo) {
                                            
                                            <option value= "@tipo.Id" >@tipo.Descricao</option>
                                        }
                                    </select>
                                </div>
                                
                                <div class="form-group">
                                                                    
                                    <label for="cpfCnpj" class="form-label">CPF/CNPJ: </label>
                                    <input type="text" class="form-control form-control-lg rounded-0" id="cpfCnpj" name="CpfCnpj" required="" value="@Model.CpfCnpj">
                                
                                </div>
                                
                                <div class="form-group">
                                    <label for="data" class="form-label">Data de Nascimento(Pessoa Física) ou Data De Fundação(Pessoa Jurídica): </label>
                                    <input type="date" class="form-control form-control-lg rounded-0" id="date" name="Data" value="@Model.Data"  >
                                </div>
                                
                                

                                 <div class="form-group">
                                    <label for="Email" class="form-label">Email: </label>
                                    <input type="text" class="form-control form-control-lg rounded-0" id="email" name="Email" value="@Model.Email"  >
                                </div>

                                 <div class="form-group">
                                    <label for="endereco" class="form-label">Endereço: </label>
                                    <input type="text" class="form-control form-control-lg rounded-0" id="endereço" name="Endereco" value="@Model.Endereco"  >
                                </div>
                                
                                 <div class="form-group">
                                    <label for="observação" class="form-label">Observação: </label>
                                    <input type="text" class="form-control form-control-lg rounded-0" id="observacao" name="Observacao" value="@Model.Observacao"  >
                                </div>
                                
                               
                                <br>
                                <button type="submit" class="btn btn-primary bg-dark" >Alterar</button>
                            </form>
                        </div>
                       
                    </div>

                </div>
            </div>
    </div>
</div>